body {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
}

#container{
    display:flex;
    background-color: wheat;
    gap: 0px;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    padding: none;
    margin: 5px;
    justify-content: center; 
    overflow: none;
    z-index: 3;
}

#reset, #input{
    background-color: black;
    color: wheat;
    border-radius: 20px;
    border-width: 2px;
    border-color: gray;
    border-style: groove;
}