body {
    background-color: black;
}

#container{
    display:flex;
    background-color: wheat;
    gap: 0px;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    overflow:auto ;
}

#reset{
    background-color: black;
    color: wheat;
    border-radius: 20px;
    border-width: 2px;
    border-color: gray;
    border-style: groove;
}